.entryDiv {
    max-width: 700px;
    margin : auto;
    padding: 0px;
    white-space: pre-wrap;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 4px solid #0f67ff;
      
}

h2{
    font-size: 28px;
    color: #0f67ff;
    text-align: center;
}

.userDiv{
    margin-top: 10px;
}