.entryDiv {
    max-width: 600px;
    margin : auto;
    border: 3px solid green;
    padding: 0px;
}

.entryList {
    max-width: 700px;
    margin : auto;
    border: 3px solid black;
    padding: 0px;

    
}

ul{
    width: 90%;
    list-style-type: none;
}